body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,77,1) 35%, rgba(0,212,255,1) 100%);
    box-sizing: border-box;
}
/*Fondo del reloj*/
.clock {
    background: blanchedalmond url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) no-repeat center;
    background-size: 85%;
    -webkit-box-shadow: 6px 6px 9px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 6px 6px 9px 0px rgba(0,0,0,0.53);
    box-shadow: 6px 6px 9px 0px rgba(0,0,0,0.53);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    padding: 30px;
    position: relative;
}
/*Ubicación de las agujas*/
.center,
.smallClockHand,
.bigClockHand,
.clockHand {
    position: absolute;
}
/*Color del centro y agujas de horas y minutos*/
.center,
.smallClockHand,
.bigClockHand {
    background-color: black;
}
/*El centro*/
.center {
    border-radius: 50%;
    border: 3px solid goldenrod;
    width: 5%;
    height: 5%;
    top: 46%;
    left: 47%;
    z-index: 2;
}
/*Agujas Horas y Minutos*/
.smallClockHand,
.bigClockHand {
    border: 2px solid #79094d;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    height: 11px;
    top: 48%;
    left: 45%;
}
/*Animación de las agujas*/
@keyframes time {
    100% {
        transform: rotate(360deg);
    }
}
/*Aguja Horas*/
.smallClockHand {
    width: 150px;
    z-index: 4;
    animation-name: time;
    transform: rotate(120deg);
    animation-duration: 43200s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(60);
    transform-origin: 18%;
    animation-timing-function: steps(60);
}
/*Aguja Minutos*/
.bigClockHand {
    width: 215px;
    z-index: 3;
    animation-name: time;
    transform: rotate(25deg);
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(60);
    transform-origin: 18%;
    animation-timing-function: steps(60);
}
/*Aguja Segundos*/
.clockHand {
    background-color: #2B8BBF;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    height: 7px;
    width: 240px;
    top: 48.7%;
    left: 42%;
    z-index: 5;
    animation-name: time;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(60);
    transform-origin: 18%;
}
